<div class="container">
  <h1 class="title">To do list</h1>
  <input
    class="addInput"
    type="text"
    placeholder="Add something here..."
    [(ngModel)]="toDoName"
  />
  <button class="addButton" (click)="addItem()">Add</button>

  <ul>
    <div>
      <li
        *ngFor="let item of toDoList; let i = index"
        [ngClass]="{
          green: item.isDone === true && item.isPostponed === false,
          red: item.isPostponed
        }"
        (click)="updateTask(item)"
      >
        {{ i + 1 }} {{ item.name }}
        <p *ngIf="!item.isPostponed" (click)="postponeTask(item)">Postpone</p>
        <p
          *ngIf="item.isPostponed"
          (click)="postponeTask(item)"
          [ngClass]="{ red: item.isPostponed === true }"
        >
          POSTPONED
        </p>
        <button class="delete" (click)="deleteTask(item)">Delete</button>
      </li>
      <div class="buttons-container">
        <button class="clean" (click)="cleanAll()">Clean the done Tasks</button>
        <button class="restore" (click)="restoreAll(toDoList)">
          Restore the postponed Tasks
        </button>
      </div>
    </div>
  </ul>
</div>
