* {
    margin: auto 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    display:block;
    border: 1px solid grey;
}

button {
    border: none;
}

li {
    padding: 0 10px;
    border-radius: 8px;
    list-style-type: none;
}

ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0;
    margin: 0;
}

input, button {
    border-radius: 8px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.done {
    background-color: rgb(144, 186, 144);
}