<h1>To-do</h1>
<label for="toDoTaskName">What do you need to do?</label>
<input 
    id = "toDoTaskName"
    type="text" 
    (keyup.enter)="addToDo()" 
    placeholder="To do task"
    [(ngModel)]="toDoName">

<label for="toDoTime">How long should it take? (minutes)</label>
<input
    id="toDoTime"
    type="number" 
    (keyup.enter)="addToDo()" 
    [(ngModel)]="toDoTime">

<button (click)="addToDo()">Add task</button>

<ul>
    <li
        *ngFor="let task of toDoList; let i = index"
        [ngClass]="{'done' : task.completed === true}"
    >
        {{i+1}} - {{task.name}} ({{task.time}} minutes) --- Completed? ({{task.completed}})
        
        <button (click)="makeGreen(task)">Completed</button>
        <button (click)="remove(task)">Remove</button>

    </li>
</ul>
