<div class="input-container">
  <input type="text" [(ngModel)]="newTodo" />
  <button (click)="addTask()">Add</button>
</div>
<div class="input-container">
  <button (click)="clearDoneTask()">Clean done task</button>
  <button (click)="restoreTask()">Restore postpone tasks</button>
</div>
<ol class="card-container">
  <li
    class="card"
    *ngFor="let item of todos; let i = index"
    [ngClass]="{ complete: item.isDone === true }"
  >
    {{ i + 1 }} - {{ item.name }}
    <div class="btn-container">
      <input type="button" [value]="doValue" (click)="isDoneTask(i)" />
      <input type="button" value="Delete" (click)="deleteTask(i)" />
      <input type="button" value="Postpone" (click)="postponeTask(i)" />
    </div>
  </li>
  <li
    class="card-displaying"
    *ngFor="let item of postponeTodos; let i = index"
    [ngClass]="{ complete: item.isDone === true }"
  >
    {{ i + 1 }} - {{ item.name }}
    <div class="btn-container">
      <input type="button" [value]="doValue" (click)="isDoneTask(i)" />
      <input type="button" value="Delete" (click)="deleteTask(i)" />
      <input type="button" value="Postpone" (click)="postponeTask(i)" />
    </div>
  </li>
</ol>
