<!-- Bonus - Iteration 7 | Add an edit option if you like or work on the styling -->
<h1>To do list</h1>


<label for="add-new-todo">Add new todo</label>
<br />
<input type="text" (keydown.enter)="addTodo()" [(ngModel)]="todo" />

<!-- Iteration 1 | Allow users to create new todos in the UI -->
<button [disabled]="todo === ''" (click)="addTodo()" (keyup.enter)="addTodo()">Add todo</button>

<!-- Iteration 5 | Add a clean button that will remove the completed todos -->
<button [disabled]="todo === ''" (click)="removeCompleted()">Clean</button>

<!-- Iteration 6 | Add a restore button that will bring back all the postponed todos -->
<button [disabled]="todo === ''" (click)="restorePostponed()">Restore</button>

<!-- Iteration 3 | Allow users to mark todos as "postpone" which will temporarily remove them from the list -->
<button [disabled]="todo === ''" (click)="isPostponed()">Postpone</button>

<!-- Iteration 4 | Allow users to delete todos from the UI -->
<button [disabled]="todo === ''" (click)="deleteTodos()">Delete all</button>

<ul>
  <li *ngFor="let item of todoList; let i = index">

  <!-- Iteration 2 | Allow users to mark todos as complete changing its color to green -->
  <input type="checkbox" [(ngModel)]="item.isCompleted" (click)="isPostponed(i)" [ngClass]="{'green': item.isCompleted === true}"> {{i+1}} - {{ item.todo }}
  

</li>
</ul>