/* You can add global styles to this file, and also import other style files */
.green{
    color:green;
    text-decoration: line-through;
}

.red{
    color:red;
    font-weight: bold;
    text-align: right;
    
}
.container{
    position: absolute;
    top: 50px;
    left: 300px;
}

ul div li{
    list-style: none;
    
}
